* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1190px) and (min-width: 768px) {
  .main .main-wrapper {
    display: block;
    margin: 94px auto 0 auto;
    padding-bottom: 40px;
    position: relative;
    width: 80%;
  }
  .main .main-wrapper .main-left {
    margin: 0 auto;
    padding-top: 20px;
  }
  .main .main-wrapper .main-left .min-sp {
    font-size: 24px;
  }
  .main .main-wrapper .main-left p {
    font-size: 18px;
  }
  .main .main-wrapper .main-left a {
    background: -webkit-gradient(linear, left top, right top, from(#FA41CC), to(#6020B0));
    background: linear-gradient(90deg, #FA41CC, #6020B0);
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 6px #00000029;
            box-shadow: 0px 3px 6px #00000029;
    color: white;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: bold;
    height: 37px;
    line-height: 37px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    width: 155px;
  }
  .main .main-wrapper .img-sp {
    display: inline-block;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 400px;
  }
  .main .main-wrapper .main-right {
    display: none;
  }
  .features .feature-wrapper {
    padding: 80px;
  }
  .features .feature-wrapper .feature-title h2 {
    font-size: 28px;
  }
  .features .feature-wrapper .feature-title p {
    margin-top: 10px;
  }
  .features .feature-wrapper .feature-contents .speedy-coding h3 {
    font-size: 24px;
  }
  .features .feature-wrapper .feature-contents .speedy-coding .speedy-coding-wrapper .speedy-coding-wrapper-right h4 {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 26px;
    text-align: center;
  }
  .features .feature-wrapper .feature-contents .speedy-coding .speedy-coding-wrapper .speedy-coding-wrapper-right h5 {
    display: none;
  }
  .features .feature-wrapper .feature-contents .speedy-coding .speedy-coding-wrapper .speedy-coding-wrapper-right .speed-sp {
    font-size: 16px;
  }
  .features .feature-wrapper .feature-contents .high-quarity h3 {
    font-size: 24px !important;
  }
  .features .feature-wrapper .feature-contents .high-quarity .high-quarity-wrapper .high-quarity-wrapper-left-sp h4 {
    font-size: 20px;
    line-height: 26px;
  }
  .features .feature-wrapper .feature-contents .high-quarity .high-quarity-wrapper .high-quarity-wrapper-left-sp p {
    font-size: 16px;
  }
  .features .feature-wrapper .feature-contents .speedy-response h3 {
    font-size: 24px !important;
  }
  .features .feature-wrapper .feature-contents .speedy-response .speedy-response-wrapper .speedy-response-wrapper-right h4 {
    font-size: 20px;
    line-height: 26px;
  }
  .features .feature-wrapper .feature-contents .speedy-response .speedy-response-wrapper .speedy-response-wrapper-right p {
    font-size: 16px;
  }
  .price .price-wrapper h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .price .price-wrapper .price-table-sp {
    width: calc(100% - 200px);
  }
  .price .price-wrapper .price-detail {
    font-size: 16px;
  }
  .question-section .question-section-wrapper .question-heading h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .question-section .question-section-wrapper .question-contents {
    max-width: calc(100% - 200px);
  }
  .question-section .question-section-wrapper .question-contents .question-and-answer .question p {
    font-size: 16px;
  }
  .question-section .question-section-wrapper .question-contents .question-and-answer .answer {
    padding: 15px 30px;
  }
  .question-section .question-section-wrapper .question-contents .question-and-answer .answer p {
    font-size: 14px;
    text-align: left;
  }
  .blog-section .blog-section-wrapper {
    padding: 30px 0;
  }
  .blog-section .blog-section-wrapper .blog-heading h2 {
    font-size: 28px !important;
    margin-bottom: 10px;
  }
  .blog-section .blog-section-wrapper .blog-contents {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: calc(100% - 200px);
  }
  .blog-section .blog-section-wrapper .blog-contents .blog {
    height: 500px;
    margin: 0 auto 50px auto;
  }
  .blog-section .blog-section-wrapper .blog-contents .blog h3 {
    font-size: 18px;
    padding: 15px;
  }
  .blog-section .blog-section-wrapper .blog-contents .blog .design-sp {
    font-size: 18px;
    padding: 15px;
  }
  .blog-section .blog-section-wrapper .blog-contents .blog p {
    font-size: 14px;
  }
  .works-section .works-section-wrapper {
    padding: 30px 0;
  }
  .works-section .works-section-wrapper .works-heading h2 {
    font-size: 28px !important;
    margin-bottom: 10px;
  }
  .inquiry-form .inquiry-form-wrapper {
    padding: 30px 0;
  }
  .inquiry-form .inquiry-form-wrapper .inquiry-form-heading h2 {
    font-size: 28px;
    margin-bottom: 5px;
  }
  .inquiry-form .inquiry-form-wrapper .help {
    font-size: 18px;
  }
  .inquiry-form .inquiry-form-wrapper form {
    max-width: calc(100% - 200px);
    padding: 30px 50px;
  }
  .inquiry-form .inquiry-form-wrapper form input {
    height: 40px;
  }
  .inquiry-form .inquiry-form-wrapper form .name-section .form-ttl label {
    font-size: 16px;
    margin-right: 15px;
  }
  .inquiry-form .inquiry-form-wrapper form .mail-section .form-ttl label {
    font-size: 16px;
    margin-right: 15px;
  }
  .inquiry-form .inquiry-form-wrapper form .inquiry-content-section .form-ttl label {
    font-size: 16px;
    margin-right: 15px;
  }
  .inquiry-form .inquiry-form-wrapper form .inquiry-content-section textarea {
    max-width: calc(100% - 20px);
  }
}
